{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 80,
  "trailingComma": "es5",

  "bracketSpacing": true,
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "bracketSameLine": false,

  "vueAttributeQuotes": "preserve",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "selfClosingTags": "always",

  "endOfLine": "lf",
  "requirePragma": false,
  "insertPragma": false,
  "embeddedLanguageFormatting": "auto"
}