:root {
    --z-index-top: 900;
    --z-index-second: 800;
    --main-padding: 10px;
    --main-border-radius: 5px;
    --bc-layout: white;
    --bc-sidebar: rgb(240,240,240);
    --bc-sidebar-item-active: rgb(225,225,225);
    --bc-sidebar-item-hover: rgb(255,255,255);
    --bc-main:rgb(240, 240, 240);
    --bc-main-body:rgb(250,250,250);
    --bc-header:rgb(250,250,250);
    --bc-header-search:rgb(250,250,250);
    --bc-header-search-border:rgb(200,200,200);
    --bc-header-login-shadow:rgb(180,180,180);
    --bc-footer:rgb(250, 250, 250);
}